#Block multiviews
Options -MultiViews

#Directory index
DirectoryIndex index.php

#Run Rewrite Engine
RewriteEngine ON

#Set base catalog
RewriteBase /framework/

#Check first param REQUEST_URI
RewriteCond %{REQUEST_URI} !^/framework

#If first param is true redirect error (flag R)
RewriteRule ^(.*)$  /* [R=404]

#Checking exists files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#Rewrite url
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


#Adding error document
ErrorDocument 403 http://localhost/framework/home/error403
ErrorDocument 404 http://localhost/framework/home/error404