
nav > a, header a {
  border: none;
  border-radius: 25px;
  text-decoration: none;
  width: 175px;
  padding: 10px;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, gray), color-stop(1, #9ba892));
  background: -moz-linear-gradient(top, gray 5%, #9ba892 100%);
  background: -webkit-linear-gradient(top, gray 5%, #9ba892 100%);
  background: -o-linear-gradient(top, gray 5%, #9ba892 100%);
  background: -ms-linear-gradient(top, gray 5%, #9ba892 100%);
  background: linear-gradient(to bottom, gray 5%, #9ba892 100%);
  -webkit-box-shadow: inset 0 0 34px -3px black;
  -moz-box-shadow: inset 0 0 34px -3px black;
  box-shadow: inset 0 0 34px -3px black;
  cursor: pointer;
}