input {
    display: block;
    width: 300px;
    height: 20px;
    padding: 10px;
    margin: 0 auto 15px auto;
    border-radius: 10px;
    border: none;
}

table{
    border: 3px solid white;
}

td{
    border:1px solid white;
    min-width: 150px;
}

td > input {
    width: 150px;
    margin:0;
}