#Block multiviews
Options -MultiViews

#Directory index
DirectoryIndex index.php

#Run Rewrite Engine
RewriteEngine ON

#Set base catalog
RewriteBase /framework/public

#Check first param REQUEST_URI
RewriteCond %{REQUEST_URI} !^/framework

#If first param is true redirect error (flag R)
RewriteRule ^(.*)$  /* [R=404]

#Check HTTP_HOST
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www.

#Rewrite if not exists in HTTP_HOST www.
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI}/$1 [R=301,N]

#Checking exists files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#Rewrite url
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


#Adding error document
ErrorDocument 403 http://www.localhost/framework/public/home/error403
ErrorDocument 404 http://www.localhost/framework/public/home/error404